<div class="header-top-container">
  <div class="logo">
    <span><img src="../../assets/bookmyshow.png" (click)='gotoHome()'></span>
  </div>
  <div class="sign-in">
      <span><button class="signin-button">Book Tickets</button></span>
  </div>
</div>
<div class="movie"><span class="title"><h4>{{ movie.movieTitle }}</h4></span>
  <div class="theatre"><span>{{ theatreName }}</span>
   <span>{{ showTime }}</span></div>
</div>
<div class="seats-card">
  <h6>Choose your seats</h6>
  <div class="seats">
    <table>
      <div *ngFor="let i of [0,1]" class="seating-details">
        <tr *ngFor="let outerIndex of seatAreaLeft">
          <td *ngFor="let innerIndex of seatNumber">
            <button class="enable" id="{{ outerIndex + innerIndex }}"  #id (click)="getSeat(id)">{{ outerIndex + innerIndex }}</button>
          </td>
        </tr>
      </div>
    </table>
  </div>
</div>
