<div class="header-top-container">
  <div class="logo">
    <span><img src="../../assets/bookmyshow.png" (click)='gotoHome()'></span>
  </div>
  <div class="sign-in">
      <span><button class="signin-button">Sign in</button></span>
  </div>
</div>
<div class="movie"><span class="title"><h4 (click)="goBack()">{{ movie.movieTitle }}</h4></span>
  <div class="theatre"><span>{{ theatreName }}</span>
   <span>{{ showTime }}</span></div>
</div>
<div class="seats-card">
  <h6>Choose your seats</h6>
  <div class="seats">
    <table>
      <div *ngFor="let categories of seatCategories" class="seating-details">
        <tr *ngFor="let outerIndex of categories">
          <td *ngFor="let innerIndex of seatNumber">
            <button class="enable" #id (click)="getSeat(id)">{{ outerIndex + innerIndex }}</button>
          </td>
        </tr>
      </div>
    </table>
  </div>
</div>
<div *ngIf="getPayment()" class="payment">
  <button class="signin-button" (click)="openDialog()">Pay Rs.{{price}}</button>
</div>