<div class="main-content-container">
  <div class="movies">
    <div class="movies-heading">
      <span class="heading">Recommended Movies</span>
      <span class="see-all">See All ></span>
    </div>
    <div class="card-container">
      <a *ngFor="let movie of movies" [routerLink]="['./booking',movie.movieTitle]"><app-movie-list
       [movie]="movie"></app-movie-list></a>
    </div>
  </div>
</div>
<div [ngStyle]="{'background-color': backgroundColor,'color' : color }" class="main-content-container">
  <div class="movies">
    <div class="movies-heading">
      <span class="heading">Premieres</span>
      <span class="see-all">See All ></span>
    </div>
    <div class="card-container">
      <app-premier-list
        *ngFor="let premier of premiers"
        [premier]="premier"
      ></app-premier-list>
    </div>
  </div>
</div>


