.footer-container {
    margin: 0;
    bottom: 0;
    background-color: #313035;
    color: white;
}

.footer-contents {
    padding: 25px;
    display:flex;
}

.footer-contents button {
    border-radius: 6px;
    outline-style: none;
    appearance: none;
    border: none;
    color: white;
}

.footer-container .footer-aboutus {
    padding: 25px;
    background: #404043;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    opacity: 0.3;
}

.footer-container .footer-aboutus span:hover {
    color: blue;
    cursor: pointer;
    transition: 0.3s;
}