.header-bottom-container {
    background-color:#222539;
    color : rgb(204, 204, 204);
    display: flex;
    justify-content: space-between;
    padding: 8px;
    font-size: 14px;
}

.header-bottom-container ul {
    display: inline;
    outline-style: none;
}

.header-bottom-container ul li {
    padding: 5px;
    display: inline;
}

.header-bottom-container ul li:hover {
    color: #F4F4F4;
    cursor: pointer;
    transition: 0.5s;
}