<div class="header-top-container">
  <div class="logo">
    <span><img src="../../assets/bookmyshow.png" (click)='gotoHome()'></span>
    <input
      type="text"
      placeholder="Search for Movies,Events,Plays,Sports and Activities"
    />
  </div>
  <div class="sign-in">
    <span><div ngbDropdown>
      <button class="btn btn-outline-primary btn-sm nav-btn" ngbDropdownToggle>
        {{text}}
      </button>
    </div></span>
    <span><button class="signin-button">Sign in</button></span>
    <i class="fa-solid fa-bars"></i>
  </div>
</div>


<!--placeholder="Search for Movies,Events,Plays,Sports and Activities"-->