.header-top-container {
    display: flex;
    justify-content: space-between;
    background-color: #333545;
    color: white;
    padding: 10px 5px 0px 5px;
}

.sign-in {
    color: rgb(204, 204, 204);
    display: flex;
    line-height: normal;
    vertical-align: middle;
    padding: 5px;
}

.logo {
    display: flex;
    padding: 3px;
}

.logo span img {
    line-height: 20px;
    width: 150px;
    padding: 5px 10px;
    display: flex;
    cursor: pointer;
}


.header-top-container input {
    border-radius: 6px;
    width: 500px;
    height: 31px;
    padding: 5px;
    line-height: normal;
    vertical-align: middle;
    font-size: 13px;
}

.sign-in span {
    padding: 3px;
    line-height: normal;
    vertical-align: middle;
}

.nav-btn {
    background-color:none;
}

.btn-outline-primary:hover {
    background-color: #333545;

}
.signin-button {
    background-color: #F84464;
}

.sign-in button {
    font-size: 14px;
    border-radius: 4px;
    outline-style: none;
    border: none;
    appearance: none;
    padding: 5px 10px 5px 10px;
    color: white;
}
