body {
    margin: 0;
}

.navbar {
    width: 100%;
    background: #0078D7;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: white;
}


.navbar .logo {
    margin-top: -5px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.title {
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
  }

.navbar .material-icons {
    padding: 10px;
    cursor: pointer;
    font-weight: normal;
    color:white;
}

.material-icons {
    cursor: pointer;
}

.ham-menu {
    width:25px;
    height:25px;
    cursor: pointer;
    padding: 4px 4px 0 4px;
    margin-top: 4px;
}

.hero nav {
    margin-left:0;
    margin-top:155px;
    position: fixed;
    z-index: 999;   
    width: 20%;
    padding: 1em;
    display: none;
    background: #f2f8fd;
    left: 0;
    top: 0;
    height: 100vh;
}



.hammenu-display {
    display:block;
}

.ham-display {
    margin-left: -50px;
    margin-top: 50px;
    
}

.ham-display li {
    display: block;
    padding: 0.5em;
}

ul {
    list-style-type: none;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.head-row {
    margin-bottom: 5em;
}

.search-text {
    position: absolute;
    margin-top: 8px;
    
    width: 400px;
    background: rgba(244, 246, 255, 0.8);
    height: 30px;
    border: none;
    opacity: 90%;
    border-radius: 2px;
  }

.head-btns {
    float: right;
}

.content-class a {
     text-decoration: none;
     color: black;
}

.head-row {
    padding: 5px;
}

nav.menu-btn {
    display: block;
}

.secondary-nav {
    float: right;
}

.navbar ul {
    margin: 0;
}

