body {
    margin: 0;
    font-family: "Segoe", "Segoe UI", "Arial", "sans-serif";
    border: 1px;
}

.head-container {
    color: white;
    background-color: #0078d7;
    height: 48px;
    font-weight: bold;
}

.head-right {
    float: right;
}

.center-important-content {
    display: none;
}

.material-icons {
    padding: 10px;
    font-weight: normal;
    color: #595d6170;
    cursor: pointer;
}

.left-menu {
    cursor: pointer;
}

.title {
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    cursor: pointer;
}

.search {
    position: absolute;
    margin-top: 3px;
    margin-left: 355px;
    /*color: rgb(1, 2, 12) !important;*/
    cursor: pointer;
}

.search-text:hover {
    background-color: rgb(255, 255, 255);
    transition: 0s;
}

.search-text {
    position: absolute;
    margin-top: 8px;
    margin-left: 360px;
    width: 400px;
    background: rgba(244, 246, 255, 0.8);
    height: 30px;
    border: none;
    opacity: 90%;
    border-radius: 2px;
}

.head-container .material-icons:hover {
    background-color: #4e4e55d2;
    transition: 0s;
}

.head-container .material-icons {
    color: white;
}


/*From here*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 48px;
    left: 0;
    text-align: left;
    font-size: 14px;
    background: #f2f8fd;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 1em;
}

.right-settings {
    overflow-x: hidden;
    transition: 1s;
}

.sidenav li {
    padding: 8px 8px 8px 0;
    margin-left: -3em;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav li:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
}

.left-menu {
    align-items: center;
    display: flex;
    box-sizing: border-box;
}

.left-menu span:hover {
    background: chocolate;
}

.right-container nav {
    transition: 0.5s;
    margin-right: 0;
    margin-top: 48px;
    position: fixed;
    width: 25%;
    display: none;
    padding: 1em;
    text-decoration: none;
    background: #f2f8fd;
    right: -1em;
    top: 0;
    height: 100vh;
}

ul {
    list-style-type: none;
    text-decoration: none;
}

nav.set-btn {
    display: block;
    transition: 0.5s;
}

.close {
    display: inline;
    float: right;
    margin-top: 0.5em;
}

.settings-list {
    transition: 1s;
    margin: 0;
    padding: 0;
    align-items: center;
}

.settings-list li {
    margin-left: -15px;
    padding: 1em;
    align-items: center;
    font-size: 14px;
}

.head-right {
    float: right;
}

.center-myday-head {
    display: flex;
    width: 100%;
    margin: 10px;
    height: 72px;
}

.center-important-head {
    display: flex;
    width: 100%;
    margin: 10px;
    height: 72px;
}

.center-head-right {
    width: 30%;
    text-align: right;
    padding-right: 25px;
    margin-top: -5px;
}

.my-day {
    width: 70%;
    font-weight: 520;
    font-size: 20px;
    margin: 6px;
    padding: 0;
}

.important {
    /*width: 70%;*/
    font-weight: 520;
    font-size: 20px;
    margin: 6px;
    padding: 0;
}

.center-add-myday {
    margin: 0 8px;
    border-radius: 4px;
    padding: 8px;
    border: 1px solid #ededed;
}

.add-input-myday {
    width: 100%;
    display: flex;
}

.add-btn {
    padding: 5px;
    cursor: pointer;
    display: none;
    justify-content: end;
    padding-right: 15px;
    font-size: x-small;
    font-weight: bold;
}

.center-add-important {
    display: flex;
    margin: 0 8px;
    border-radius: 4px;
    padding: 8px;
    border: 1px solid #ededed;
}

.add-myday-text {
    width: 100%;
    border: none;
}

.add-important-text {
    width: 100%;
    border: none;
}


/*Lines from here*/

.myday-hr {
    margin: 0 10px;
    padding: 0;
    height: 100%;
}

.important-hr {
    margin: 0 10px;
    padding: 0;
    height: 100%;
}

hr {
    padding: 0.1px;
    margin: 0 10px;
}

.myday-hr div {
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
}

.important-hr div {
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
}