<div class="header-container">
  <div *ngIf="getMainHeader('/seats')">
    <div class="header-top-container">
      <div class="logo">
        <span><img src="../../assets/bookmyshow.png" (click)='gotoHome()'></span>
        <input
          type="text"
          placeholder="Search for Movies,Events,Plays,Sports and Activities"
        />
      </div>
      <div class="sign-in">
        <span><div ngbDropdown>
          <button class="btn btn-outline-primary btn-sm nav-btn" ngbDropdownToggle>
            {{text}}
          </button>
        </div></span>
        <span><button class="signin-button">Sign in</button></span>
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>
    <!--<app-header-top color="blue" text="Actions"></app-header-top>-->
    <div class="header-bottom-container">
      <div class="header-left-list">
          <ul>
              <li *ngFor="let item of headerLeftNavList;">{{ item }}</li>
          </ul>
      </div>
      <div class="header-right-list">
          <ul>
              <li *ngFor="let item of headerRightNavList">{{ item }}</li>
          </ul>
      </div>
  </div>
    <!--<app-header-bottom ></app-header-bottom>-->
  </div>
</div>

<!--(rightListClick)="getRequiredList()"-->
