<div class="booking-main-container">                       
  <div class="movie-banner" [ngStyle]="{'background-image': 'linear-gradient(-225deg, rgba(1,1,1,0.8) 50%,rgba(2,2,2,0.8) 80%),url(' + movie.banner +')'}" >
    <div class="title-card">
      <span><img src="{{movie.img}}" alt=""></span>
    </div>
    <div class="movie-details">
      <div class="title"><h1>{{ movie.movieTitle }}</h1></div>
      <div class="votes" ><i class='material-icons'  [ngStyle]="{'color':'red'}" >favorite</i><span>{{ movie.votes }}</span></div>
      <div class="details"><span>3D, IMAX 2D</span><span>Tamil, English</span></div>
      <div class="genres">
      <ul>
        <li>
          {{ movie.time }}
        </li>
        <li>
          {{ movie.genre }}
        </li>
        <li>
          {{ movie.cert }}
        </li>
        <li>
          {{ movie.date }}
        </li>
      </ul>  
      </div>
      <!--<div class="genres"><p>{{ movie.genre }}</p></div>-->
    </div>  
  </div>
  <div class="show-details">
    <div class="seat-reg">
      <span>Fast Filling</span>
      <span>Available</span>
    </div>
    <div *ngFor="let theatre of movie.theatre" class="theatre-contents">
      <div class="theatre-name">
        <span class="theatre-title">{{ theatre.name }}</span>
        <span class="coupons">
          <p>M-Ticket</p>
          <p>Food & Beverage</p>
        </span>
      </div>
      <a
        *ngFor="let timing of theatre.timings"
        [routerLink]="['/seats', movie.movieTitle, theatre.name, timing]"
      >
        <div class="show-timings">
          <button>{{ timing }}</button>
        </div></a
      >
    </div>
  </div>
</div>
<!-- routerLink="/seats/{{movie.movieTitle}}/{{theatre.name}}/{{timing}}" -->
